In [1]:
# dependencies
import pandas as pd
import os
my_dir = os.path.dirname(os.path.abspath('__file__'))
os.chdir(my_dir)

In [2]:
pdx_hpi_by_zip = 'data/cleaned data/pdx_hpi_by_zip.csv'
pdx_hpi_by_zip_df = pd.read_csv(pdx_hpi_by_zip)

PDX_Crime_zip_year = 'data/cleaned data/PDX_Crime_zip_year.csv'
PDX_Crime_zip_year_df = pd.read_csv(PDX_Crime_zip_year)

In [3]:
merged_df = pdx_hpi_by_zip_df.merge(PDX_Crime_zip_year_df, 
                                left_on=['Five-Digit ZIP Code', 'Year'],
                                right_on=['zip', 'year'],
                                how='left')

In [4]:
merged_df

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI from 2012,HPI with 2012 base,normalized_sale_price,zip_code,normalized_sale_price_2012,zip,year,Neighborhood,Person,Property,Society
0,97201,1986,.,100.00,397.73,0.251427,86369.11715,97201,343515.8896,NaN,NaN,NaN,NaN,NaN,NaN
1,97201,1987,5.95,105.95,397.73,0.266387,91508.07962,97201,343515.8896,NaN,NaN,NaN,NaN,NaN,NaN
2,97201,1988,5.41,111.68,397.73,0.280794,96457.03003,97201,343515.8896,NaN,NaN,NaN,NaN,NaN,NaN
3,97201,1989,9.27,122.03,397.73,0.306816,105396.23370,97201,343515.8896,NaN,NaN,NaN,NaN,NaN,NaN
4,97201,1990,14.09,139.23,397.73,0.350062,120251.72180,97201,343515.8896,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136,97267,2018,5.2,939.69,545.32,1.723190,388793.00000,97267,218443.3423,NaN,NaN,NaN,NaN,NaN,NaN
1137,97267,2019,3.22,969.90,545.32,1.778589,398146.00000,97267,218443.3423,NaN,NaN,NaN,NaN,NaN,NaN
1138,97267,2020,3.42,1003.08,545.32,1.839434,433363.00000,97267,218443.3423,NaN,NaN,NaN,NaN,NaN,NaN
1139,97267,2021,13.21,1135.53,545.32,2.082319,503429.00000,97267,218443.3423,NaN,NaN,NaN,NaN,NaN,NaN
1140,97267,2022,13.6,1289.94,545.32,2.365473,539303.00000,97267,218443.3423,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
columns_to_drop = ['zip_code', 'zip', 'year', 'Neighborhood', 'HPI from 2012', 'normalized_sale_price_2012']
final_df = merged_df.drop(columns=columns_to_drop)

In [6]:
local_data_agg_path = 'data/cleaned data/local_data_agg.csv'
final_df.to_csv(local_data_agg_path, index = False)